<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Submit your trip</h2>
  <a href="/my-trips/new">Link</a>
  <h3>All your trips</h3>

    <% trips.forEach((trip) => { %>
      <li>
        <%= trip.destination, %> <br>
        Destination :  <%= trip.description %>  <br>
        <img src="<%= trip.pic_path %>" alt=""> <br>
        <a href="/my-trips/edit/<%= trip._id %>">
          <button>Edit</button>
        </a>

        <form action="/my-trips/delete/<%= trip._id %>" method="get">
            <button type="submit">Delete</button>
        </form>
        <br>
      </li>
    <% }) %>

</body>
</html>